---
import Base from "@/layouts/base.astro";
---

<Base title="About">
  <h1>About</h1>
  <p>This template was created by <a href="https://ltm.bio">lokimckay</a></p>
  <p>Read more about <a href="https://astro.build">Astro</a></p>
</Base>
