---
import Base from "@/layouts/base.astro";
import { favicon, siteName } from "@/lib/config";
---

<Base>
  <h1>{favicon} {siteName}</h1>
  <p>Hello World!</p>
  <p>
    This is my lightweight <a href="https://astro.build">Astro</a> starter template
  </p>

  <h2>Features</h2>
  <ul>
    <li>
      <a href="https://docs.astro.build/en/tutorial/6-islands/2/">
        Dark/light mode toggle
      </a>
    </li>
    <li>Emoji favicon</li>
    <li><a href="https://fixel.macpaw.com/">Fixel font</a></li>
    <li>TS config `"@/*": ["./src/*"]` path mapping</li>
    <li>
      <a href="https://docs.astro.build/en/guides/view-transitions/">
        View transitions
      </a>
    </li>
    <li>Github pages deployment</li>
  </ul>

  <blockquote>
    <i>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor
      felis, porta eget congue eget, semper non turpis. In hac habitasse platea
      dictumst. Etiam id ex lorem. Sed at porttitor dolor. Morbi sed tellus
      ante. Suspendisse iaculis hendrerit tristique. Nam leo mi, consequat a
      tellus eu, dictum tempus tellus. Morbi mollis tortor consequat, posuere
      ligula consectetur, scelerisque ex. Fusce molestie tellus et iaculis
      aliquam. Nunc elementum, augue et posuere viverra, sem lorem sollicitudin
      eros, vitae gravida lorem lacus vel augue. Pellentesque ut tortor nec
      sapien commodo molestie.
    </i>
  </blockquote>
</Base>
